@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
}

@theme {
  --color-pryClr: #0f7a52;
  --color-rosco: #d4af37;
  --color-rosco2: #061b12;
}

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
